<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beautiful Dnipro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header class="header">
        <h1 class="header__title">Крутые штуки Днепра</h1>
    </header>
    <div class="wrapper-list">
        <ul class="list">
            <li class="list-item">
                <a href="http://localhost:8000/1" class="link-list">Монастырский остров</a>
            </li>
            <li class="list-item">
                <a href="http://localhost:8000/2" class="link-list">Екатеринославский бульвар</a>
            </li>
            <li class="list-item">
                <a href="http://localhost:8000/3" class="link-list">Еврейский общественный центр «Менора»</a>
            </li>
            <li class="list-item">
                <a href="http://localhost:8000/4" class="link-list">Аэрокосмический музей</a>
            </li>
            <li class="list-item">
                <a href="http://localhost:8000/5" class="link-list">Смотровая площадка парка им. Шевченко</a>
            </li>
        </ul>
    </div>
</body>
</html>